<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256245464939-5epaja0093lb2tbunubflft1v9lqsd36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256245464939-5epaja0093lb2tbunubflft1v9lqsd36</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>256245464939-54bvq38ok1iknehn5sot250gf4kmndci.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKuVZib8veG0tXG4dP6gYlUjMGPlEiYMU</string>
	<key>GCM_SENDER_ID</key>
	<string>256245464939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.psicologodantecorvalan</string>
	<key>PROJECT_ID</key>
	<string>psicologiadantecorvalan</string>
	<key>STORAGE_BUCKET</key>
	<string>psicologiadantecorvalan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256245464939:ios:9133cf933f64fff88c962e</string>
</dict>
</plist>